{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/change.css' %}">
{% endblock %}


{% block header_title %}会員登録{% endblock %}

{% block content %}
<div class="container">

    {% if confirmation %}
    <p>ユーザー登録を確定するには、以下のボタンを押してください。</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}

        <button type="submit" class="submit-btn">確定</button>
    </form>
        {% else %}

            {% url 'account_email' as email_url %}

            <p>リンクの有効期限が過ぎています。<a herf="{{ email_url }}">再申請</a>.</p>

        {% endif %}
</div>
{% endblock %}


{% block footer %}{% endblock %}
