{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/change.css' %}">
{% endblock %}


{% block header_title %}パスワードリセット{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>パスワードリセット用のメールを送信します。</p>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="submit-btn">送信</button>
        
    </form>
</div>


{% endblock %}


{% block footer %}{% endblock %}
