html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}

/* ヘッダー */
.header{
    width: 100vw;
    height: 64px;
    border-bottom: solid 1px #9b9b9b;
}
.header-container{
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-container__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    line-height: 1rem;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}