.before {
  display: inline;
  text-align: center;
}

.form {
  display: inline;
  text-align: center;
}

button {
  border: solid 1px gray;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 0.3rem 0.5rem;
}
