a{
  text-decoration: none;
  display: block;
  border-bottom:1px solid lightgray;
}

.icon{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #000;
}

.friend_name{
  font-weight: bold;
  color: #000;
}


.last_content{
  font-size: 4px;
  color: coral;
}