.toLogin{
    margin-left: auto;
    margin-right: auto;
    width:40vw;
    text-align: center;
    margin-top:40vh;
}
.toLogin a, .toSignup a{
    text-decoration: none;
    color:#000;
    padding:2.5vw;
    padding-left: 7.5vw;
    padding-right:7.5vw;
    border: 1px solid #999;
    border-radius: 3vw;
    font-size: 1rem;
}
.toSignup{
    margin-left: auto;
    margin-right: auto;
    width:40vw;
    text-align: center;
    margin-top:7.5vw;
}