h1 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}
table {
  margin: 30px auto;
}
input[type="submit"]{
  border: solid thin gray;
  width: 90px;
  height: 30px;
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 20px;
}
form p {
  text-align: center;
}
