.post_window {
    position: fixed;
    bottom: 64px;
    width: 100%;
    background-color:#005;
}

input {
    margin-left: 2%;
    width: 80%;
}

.message_box {
    border-bottom: solid 1px #9b9b9b;
}

.message_box p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    height: 30px;
}

.message_sender {
    position: absolute;
    color: #9b9b9b;
    font-size: 15px;
}

.message_text {
    position: relative;
    top: -10px;
    font-size: 20px;
}

.message_time {
    position: relative;
    text-align: right;
    margin-right: 15px;
    font-size: 15px;
}