/* headerを避ける */
.talk_room {
    padding: 64px 0;
}

/* トークの表示部分 */
.chatboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ここから簡易版のトーク画面 */
.chatboard__content {
    border-bottom: solid 2px #eee;
    padding: 8px;
}

.chatboard__content:first-child {
    border-top: solid 2px #eee;
}

/* ユーザーアイコンの表示 */
.friend__usericon {
    position: absolute;
    /* 縦横の長さを合わせる */
    height: calc(3.5rem - 16px);
    width: calc(3.5rem - 16px);
    border: solid 3px #000;
    border-radius: 50%;
    float: left;
    /* ここは調べた方が早い、便利要素object-fit */
    object-fit: cover;
    z-index: -1;
}

.chatboard__name {
    margin: 0px 0px 4px 50px;
    font-size: 0.8rem;
}

.chatboard__text {
    margin: 0px 0px 0px 50px;
    word-break: break-all;
    font-size: 1.2rem;
}

.chatboard__time {
    font-size: 0.6rem;
    position: absolute;
    right: 4%;
    z-index: -1;
}

/* トーク送信部分 */
.talk_room__sendbox {
    width: 100%;
    min-height: 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #eee;
    font-size: 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

input {
    font-size: 1rem;
    width: calc(100% - 6rem);
    margin: 8px auto;
    border: solid 2px #000;
    border-radius: 32px;
}

.talk_room__sendbox-btn {
    font-size: 1rem;
    margin: auto 8px;
    width: 4rem;
    border: solid 2px #131313;
    background: none;
    border-radius: 32px;
}

/* talk_roomのみのheaderのcss */


.talk_room__reload {
    color: #888;
    font-size: 1.2rem;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    padding: 4px 8px;
    border: solid 2px #888;
    border-radius: calc(1.2rem - 4px);
    line-height: 1;
}

.header-container__back{
    position: absolute;
    top: 4vh;
    transform: translate(0,-50%);
    font-size: 2.5rem;
    color: gray;
    z-index: 10;
    text-decoration: none;
}

