{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <table>
    <tr>
      <td>{{form.username.label_tag}}</td>
      <td>{{form.username}}</td>
    </tr>
    <tr>
      <td>{{form.email.label_tag}}</td>
      <td>{{form.email}}</td>
    </tr>
    <tr>
      <td>{{form.password1.label_tag}}</td>
      <td>{{form.password1}}</td>
    </tr>
    <tr>
      <td>{{form.password2.label_tag}}</td>
      <td>{{form.password2}}</td>
    </tr>
    <tr>
      <td>{{form.img.label_tag}}</td>
      <td>{{form.img}}</td>
    </tr>
    <tr>
      <td>
      <td><input type="submit" value="submit"></td>
      </td>
    </tr>
  </table>
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <p>{{ field.name }}：{{error}}</p>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
