{% extends "base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block header_title %}友達{% endblock %}

{% block content %}
<div class="friends">
    <ul class="friend-list">
        {% for friend in object_list %}
        <a class="friend-list__link" href="{% url 'myapp:talk_room' friend.id %}">
            <li class="friend-list__item">
                {% if friend.icon %}
                    <img class="friend-list__usericon" src="{{ friend.icon.url }}">
                {% else %}
                    <img class="friend-list__usericon" src="{% static 'img/people-24px.svg' %}">
                {% endif %}
                <div class="friend-list__username">{{ friend.username }}</div>
            </li>
        </a>
        {% empty %}
        {% endfor %}
    </ul>
</div>
{% endblock %}