{% extends "base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block header_title %}友達{% endblock %}

{% block content %}
<div class="friends">


    <form class="search-form" method="GET">
        <i class="fas fa-search"></i>
            <input name="query" value="{{ request.GET.query }}" type="text">
        <button class="friends__search-btn" name="friends_search" type="submit">検索</button>
    </form>


    <ul class="friend-list">
        {% for friend in object_list %}
        <a class="friend-list__link" href="{% url 'myapp:talk_room' friend.id %}">
            <li class="friend-list__item">
                {% if friend.icon %}
                    <img class="friend-list__usericon" src="{{ friend.icon.url }}">
                {% else %}
                    <img class="friend-list__usericon" src="{% static 'img/people-24px.svg' %}">
                {% endif %}
                <div class="friend-list__username">{{ friend.username }}</div>
                <!-- ここから最新のトークを表示する部分 -->
                <div class="friend-list__talk">
                    <p class="friend-list__content">{{ friend.latest_msg_talk }}</p>
                    <p class="friend-list__time">{{ friend.latest_msg_time|date:"n/j H:i" }}</p>
                </div>
            </li>
        </a>
        {% empty %}
            <p>友達がいません</p>
        {% endfor %}
    </ul>

    <!--ページネーション処理-->
    {% if is_paginated %}
        <ul class="pagination">
            <!--前のページへのリンク-->
            {% if page_obj.has_previous %}
                <li >
                    <a  href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <!--ページ数表示-->
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li><a class="active" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li ><a  href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            <!--次のページへのリンク-->
            {% if page_obj.has_next %}
                <li >
                    <a href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>

    {% endif %}
    <!--ここまでページネーション処理-->

</div>
{% endblock %}