{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/change.css' %}" />
{% endblock %}
{% block header-title %}アイコン{% endblock %}
{% block content %}
<form action="{%url 'change_icon' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <th>新しいアイコン:</th>
            <td>{{change_icon_form.img}}</td>
        </tr>
    </table>
    {{change_icon_form.img.errors}}
    <div class="submit-btn-wrapper"><input type="submit" value="変更する" class="submit-btn"></div>
</form>
{% endblock %}