{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/change.css' %}" />
{% endblock %}
{% block header-title %}メールアドレス{% endblock %}
{% block content %}
<form action="{%url 'change_mail' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <th>新しいメール:</th>
            <td>{{change_mail_form.email}}</td>
        </tr>
    </table>
    {{change_mail_form.email.errors}}
    <div class="submit-btn-wrapper"><input type="submit" value="変更する" class="submit-btn"></div>
</form>
{% endblock %}