{% extends 'myapp/base.html' %}

{% block header-title %}アドレス変更{% endblock %}

{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/settings.css' %}">
{% endblock %}

{% block main %}
<form class="my-form" action="" method="POST">
    <div class="form-group">
      <label for="id_username">アドレス変更</label>
      {{ form.email }}
      {{ form.email.errors }}
      
    </div>
    <div class="form-group">
        <div>
          <input type="submit" class="btn btn-default" value="登録">
        </div>
      </div>
      {% csrf_token %}
</form>
{% endblock %}