{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/change.css' %}" />
{% endblock %}
{% block header-title %}パスワード{% endblock %}
{% block content %}
<form action="{%url 'change_password' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <th>古いパスワード:</th>
            <td>{{form.old_password}}</td>
        </tr>
        <tr>
            <th>新しいパスワード:</th>
            <td>{{form.new_password1}}</td>
        </tr>
        <tr>
            <th>パスワード確認:</th>
            <td>{{form.new_password2}}</td>
        </tr>
    </table>
    {{form.old_password.errors}}
    {{form.new_password1.errors}}
    {{form.new_password2.errors}}
    <div class="submit-btn-wrapper"><input type="submit" value="変更する" class="submit-btn"></div>
</form>
{% endblock %}