{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/edit.css' %}" />
{% endblock %}

{% block header-title %}
    アイコン変更
{% endblock %}

{% block content %}
<form action='{% url "edit_icon"  %}' enctype='multipart/form-data' method='POST'>
    <div class='container'>
        {% csrf_token %}
        {{ form.non_foeld_errors }}
        <div class='form'>
            {{ form.account_image}}
            </label>
        </div>
        {% if form.errors %}
        {% for item in form %}
            <div>
                {{ item.errors }}
            </div>
        {% endfor %}
        {% endif %}
        <div><button type='submit' class='submit-button'>変更</button></div>
    </div>
    </form>
{% endblock %}