{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/pass_change.css' %}" />
{% endblock %}

{% block header-title %}
    メールアドレス変更
{% endblock %}

{% block content %}
<form action='{% url "edit_email"  %}' method='POST'>
    {% csrf_token %}
    {{ form.non_foeld_errors }}
    {% for field in form %}
    <div>
        <label for='{{ field.id_for_label }}'>{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button type='submit' class='btn'>変更</button>
{% endblock %}