{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/change.css' %}">
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}アイコン変更{% endblock %}
            </span>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="main">
    <p style="text-align:center">アイコン変更完了</p>
</div>
{% endblock content %}