{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/login.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}{{header_title}}{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <h1>{{title}}</h1>
    <h3 class="errormessage">{{ errormessage }}</h3>
    <div class="container">
        <form action="{% url 'login_view' %}" method="post">
            <!-- ユーザ名 -->
            <table class="formtable">
                <tr>
                    <th class="form-label">
                        ユーザ名
                    </th>
                    <td class="form-control">
                        {% csrf_token %}
                        {{ form.username }}
                    </td>
                </tr>
                <!-- /ユーザ名 -->

                <!-- パスワード -->
                <tr>
                    <th class="form-label">
                        パスワード
                    </th>
                    <td class="form-control">
                        {% csrf_token %}
                        {{ form.password }}
                    </td>
                </tr>
                <!-- /パスワード -->
            </table>
            <div class="col-sm">
                <button type="submit" class="form-btn">ログイン</button>
            </div>
        </form>
    </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}

</body>
</html>
