{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/login.css' %}" />
{% endblock %}

{% block header-title %}
    ログイン
{% endblock %}

{% block content %}
<div class='container'>
<form action='' method='POST'>
    {{ form.non_foeld_errors }}
    {% csrf_token %}
    <div>
        <label for='username'>ユーザー名：</label>
        {{ form.username }}
    </div>
    <div>
        <label for='password'>パスワード：</label>
        {{ form.password }}
    </div>
    <div class='login-btn'>
        <button type='submit' class='btn'>ログイン</button>
    </div>
</form>
</div>

{% for item in form %}
    <ul>
        <li>{{ item.errors }}</li>
    </ul>
{% endfor %}

{% endblock %}

{% block footer %}{% endblock %}