{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/pass_change.css' %}" />
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-container">
            <div class='back'><a href='{% url "setting" %}' class='back-button'>＜</a></div>
            <div class='title'>
                パスワード変更
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div>
<form action='{% url "pass_change" %}' method='POST'>
    {% csrf_token %}
    {{ form.non_foeld_errors }}
    <div class='form'>
        {{ form.old_password }}
    </div>
    <div class='form'>
        {{ form.new_password1 }}
    </div>
    <div class='form'>
        {{ form.new_password2 }}
    </div>
    {% if form.errors %}
        {% for item in form %}
            <div>
                {{ item.errors }}
            </div>
        {% endfor %}
    {% endif %}
    <button type='submit' class='submit-button'>変更</button>
</form>
</div>

{% endblock %}

