{% extends 'myapp/base.html' %}
{% load static %}


{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/profile.css' %}" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="back">
  <a href="{% url 'friends' %}"><i class="fas fa-angle-left fa-black"></i></a>
</div>

<div class="images">
  <div class="header_image">
    {% if header.image %}
    <img class="friends__list-usericon" src="/media/{{ header.image }}">
    {% else %}
    <!-- 無ければNoimage用の画像を表示 -->
    <img class="friends__list-usericon" src="/media/images/noimagebig.png">
    {% endif %}
  </div>
  
  <div class="icon">
    {% if icon.image %}
    <img class="friends__list-usericon" src="/media/{{ icon.image }}">
    {% else %}
    <!-- 無ければNoimage用の画像を表示 -->
    <img class="friends__list-usericon" src="/media/images/noimage.png">
    {% endif %}
  </div>
</div>

<div class="myname">
  {{ myname }}
</div>

<div>
  <table>
    <tr>
      <td>Birthday :</td>
      <td>
        {% if prof.birthday %}
        {{ prof.birthday }}
        {% else %}
        Not set yet
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Age :</td>
      <td>
        {% if prof.age %}
        {{ prof.age }}
        {% else %}
            Not set yet
            {% endif %}
      </td>
    </tr>
    <tr>
      <td>Location :</td>
      <td>
        {% if prof.location %}
        {{ prof.location }}
        {% else %}
        Not set yet
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Hobbies :</td>
      <td>
        {% if prof.hobby.all %}
          {% for hobby in prof.hobby.all %}
            {{ hobby }}</br>
          {% endfor %}
        {% else %}
        Not set yet
        {% endif %}
      </td>
    </tr>
  </table>
  <div class="prof_change">
    <a href="{% url 'change_profile' %}" class="settings_link">
      <span class="settings_icon"><i class="fas fa-cog"></i></span>
      <span>Change Profile</span>
      <span class="settings_icon"><i class="fas fa-cog"></i></span>
  </a>
  </div>
  </div>


{% endblock %}

{% block footer %}
{% endblock %}