{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}

{% block header-title %}設定{% endblock %}

{% block content %}
<div class="main-container">
    <div class="index-button-wrapper">
        <a href="{% url 'change_username' %}" class="index-button">ユーザー名変更</a>
        <a href="{% url 'change_email' %}" class="index-button">メールアドレス変更</a>
        <a href="{% url 'change_icon' %}" class="index-button">アイコン変更</a>
        <a href="{% url 'change_password' %}" class="index-button">パスワード変更</a>
        <a href="{% url 'logout_view' %}" class="index-button">ログアウト</a>
    </div>
</div>
{% endblock %}
