{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン|会員登録</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}会員登録{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <main>
        <p>{{message|safe}}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{form.as_table}}
                <img src="{{object.image.url}}" alt="">
            </table>
            <input type="submit" value="click">
        </form>
    </main>
    {% endblock %}
{% comment %}  {% endcomment %}
    {% comment %} {% block footer %} {% endcomment %}
    {% comment %} <footer class="footer"> {% endcomment %}
        {% comment %} <div class="footer-container"> {% endcomment %}
            {% comment %} <div class="footer-container__item"> {% endcomment %}
                {% comment %} <a href="{% url 'friends' %}" class="footer-item__link"> {% endcomment %}
                    {% comment %} <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span> {% endcomment %}
                    {% comment %} <span class="footer-item__text">友達</span> {% endcomment %}
                {% comment %} </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="footer-container__item"> {% endcomment %}
                {% comment %} <a href="{% url 'setting' %}" class="footer-item__link"> {% endcomment %}
                    {% comment %} <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span> {% endcomment %}
                    {% comment %} <span class="footer-item__text">設定</span> {% endcomment %}
                {% comment %} </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    {% comment %} </footer> {% endcomment %}
    {% comment %} {% endblock %} {% endcomment %}
</body>
</html>
