{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/talklist.css' %}" />
{% endblock %}

{% block header-title %}
Talk List
{% endblock %}

{% block content %}
<div class="friends">
  <ul class="friends__list-wrap">
    {% for talk in friend_info %}
    <li class="friends__list">
      <a class="friends__list-link" href="{% url 'talk_room' talk.0.username %}">
        {% for user_img in user_imgs %}
        {% if user_img.user.username == talk.0.username %}
        {% if user_img.image %}
        <img class="friends__list-usericon" src="/media/{{ user_img.image }}">
        <!-- 無ければNoimage用の画像を表示 -->
        {% else %}
        <img class="friends__list-usericon" src="/media/images/noimage.png">
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- ユーザーアイコンのforここまで -->
        <div class="friends__list-username">{{ talk.0.username }}</div>
        <!-- ここから最新のトークを表示する部分 -->
        <div class="friends__list-talk">
          <p class="friends__list-talk-content">{{ talk.1.talk }}</p>
          <!-- 時間表示のflagをチェックして、時間を表示するか日付を表示するかを分岐 -->
          {% if talk.3 == "time" %}
          <p class="friends__list-talk-time">{{ talk.1.time|date:"H:i" }}</p>
          {% else %}
          <p class="friends__list-talk-time">{{ talk.1.time|date:"m/d" }}</p>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}