{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/talklist.css' %}" />
{% endblock %}

{% block header-title %}
Talk List
{% endblock %}

{% block content %}
<div class="friends">
  <ul class="friends__list-wrap">
    {% for user in user_qs %}
    <li class="friends__list">
      <a class="friends__list-link" href="{% url 'talk_room' user.username %}">
        {% for user_img in user_imgs %}
        {% if user_img.user.username == user.username %}
        {% if user_img.image %}
        <img class="friends__list-usericon" src="/media/{{ user_img.image }}">
        <!-- 無ければNoimage用の画像を表示 -->
        {% else %}
        <img class="friends__list-usericon" src="/media/images/noimage.png">
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- ユーザーアイコンのforここまで -->
        <div class="friends__list-username">{{ user.username }}</div>
        <!-- ここから最新のトークを表示する部分 -->
        <div class="friends__list-talk">
          <p class="friends__list-talk-content">{{ user.latest_msg_content }}</p>
          <!-- 時間表示のflagをチェックして、時間を表示するか日付を表示するかを分岐 -->
          <p class="friends__list-talk-time">{{ user.latest_msg_time|date:"n/j H:i" }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}