{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/talk_room.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン｜talk_room </title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span><a href="{% url 'friends' %}">戻る</a></span>
            <span class="header-container__title">
                {% block header-title %}{{reciever.username}}{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <main>
        {% for item in messages %} 
            {% if reciever == item.reciever %}
            <div style="background-color:aliceblue;" class="sender">
                <p><img src="/media/{{sender.image}}" alt="" style="width: 2.5rem; height: 2.5rem; border-radius: 50%;">{{sender.username}}</p>
                <p class="message">{{item.message}}</p>
                <p>{{item.message_date}}</p>
            {% else %} 
            </div>
            <div style="background-color: white;">
                <p><img src="/media/{{reciever.image}}" alt="" style="width: 2.5rem; height: 2.5rem; border-radius: 50%;">{{reciever.username}}</p>
                <p class="message">{{item.message}}</p>
                <p>{{item.message_date}}</p>
            </div>  
            {% endif %}
            </div>
        {% endfor %}
    </main>

    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <!-- <div class="footer-container__item"> -->
                <form action="", method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit", value="送信">
                </form>
            <!-- </div> -->
        </div>
    </footer>
    {% endblock %}
</body>
</html>
